<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wbtkj.chat.mapper.CdkeyActivateMapper" >
  <resultMap id="BaseResultMap" type="com.wbtkj.chat.pojo.model.CdkeyActivate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="cdkey" property="cdkey" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="BIGINT" />
    <result column="use_time" property="use_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, cdkey, `value`, use_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdkey_activate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cdkey_activate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cdkey_activate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivateExample" >
    delete from cdkey_activate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivate" >
    insert into cdkey_activate (id, user_id, cdkey, 
      `value`, use_time)
    values (#{id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, #{cdkey,jdbcType=VARCHAR}, 
      #{value,jdbcType=BIGINT}, #{use_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivate" >
    insert into cdkey_activate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="cdkey != null" >
        cdkey,
      </if>
      <if test="value != null" >
        `value`,
      </if>
      <if test="use_time != null" >
        use_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="cdkey != null" >
        #{cdkey,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=BIGINT},
      </if>
      <if test="use_time != null" >
        #{use_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivateExample" resultType="java.lang.Integer" >
    select count(*) from cdkey_activate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cdkey_activate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.user_id != null" >
        user_id = #{record.user_id,jdbcType=BIGINT},
      </if>
      <if test="record.cdkey != null" >
        cdkey = #{record.cdkey,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null" >
        `value` = #{record.value,jdbcType=BIGINT},
      </if>
      <if test="record.use_time != null" >
        use_time = #{record.use_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cdkey_activate
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.user_id,jdbcType=BIGINT},
      cdkey = #{record.cdkey,jdbcType=VARCHAR},
      `value` = #{record.value,jdbcType=BIGINT},
      use_time = #{record.use_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivate" >
    update cdkey_activate
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="cdkey != null" >
        cdkey = #{cdkey,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        `value` = #{value,jdbcType=BIGINT},
      </if>
      <if test="use_time != null" >
        use_time = #{use_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wbtkj.chat.pojo.model.CdkeyActivate" >
    update cdkey_activate
    set user_id = #{user_id,jdbcType=BIGINT},
      cdkey = #{cdkey,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=BIGINT},
      use_time = #{use_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>